/* ========= GLOBAL ========= */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $text-default-color;
    background-color: $body-background-color;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    margin: 0 0 1.44rem;
    line-height: 1.2;
}

/* TODO: NEED INDIVIDUAL HEADING TAG FONT SIZES */

p {
    margin: 0 0 1.4rem;
}

b,
strong {
    font-weight: $heading-font-weight;
}

blockquote {
    font-size: 1.8rem;
    line-height: 1.7;
    font-style: italic;
    margin: 0 0 2rem;
    border-left: 4px solid $tertiary-color;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 72rem;
}

a:link:not(.btn),
a:visited:not(.btn) {
    color: $secondary-color;
    text-decoration: none;
}

a:hover:not(.btn),
a:active:not(.btn) {
    color: $tertiary-color;
    text-decoration: underline;
}