/* ========= VARIABLES ========= */

/* === COLORS === */
$gold-color: rgb(237, 209, 99);
$maroon-color: rgb(130, 15, 5);
$blue-color: rgb(5, 47, 130);
$light-beige-color: rgb(243, 236, 222);
$light-beigh-color-alt: rgb(249, 245, 239);
$black-color: rgb(39, 39, 39);
$deep-black-color: rgb(9, 9, 9);
$white-color: rgb(255, 255, 255);
$off-white-color: rgb(245, 245, 245);
$gray-color: rgb(99, 99, 99);
$dark-gray-color: rgb(54, 54, 54);

$primary-color: $gold-color;
$secondary-color: $maroon-color;
$tertiary-color: $blue-color;

$body-background-color: $light-beigh-color-alt;
$dark-background-color: $deep-black-color;

$text-default-color: $black-color;
$text-light-color: $off-white-color;


/* === TYPOGRAPHY === */
$body-font-family: "Libre Franklin", Helvetica, sans-serif;
$body-font-weight: 500;
$heading-font-family: "Libre Baskerville", Georgia, serif;
$heading-font-weight: 700;

/* === LAYOUT === */
$inner-container-max-width: 936px;
$inner-container-width: 90%;

/* ======== Borders/Border Radii ======== */
$border-radius-default: 0.45rem;
$border-bottom-section-title: 4px double $tertiary-color;

/* ======== Box Shadows ======== */
$box-shadow-tight: 0 0.18rem 0.45rem rgba(99, 99, 99, 0.45);
$box-shadow-loose: 0 0.63rem 1.8rem rgba(99, 99, 99, 0.63);