/* ========= CALLOUT ========= */
.callout {
    padding: 0.72em 0;
    background-color: #090909;
    color: whitesmoke;
    border-bottom: 1px solid #edd163;

    &__headline {
        display: inline-block;
        margin-right: 0.72rem;
        font-size: 2.16rem;

        .material-symbols-outlined {
            vertical-align: text-bottom;
        }
    }

    &__text {
        font-size: 1.44rem;
    }
}