.callout {
    display: none;

    @mixin atMedium {
        display: block;
        border-bottom: 1px solid rgba(237, 209, 99, 0.63);
        padding: 0.7rem 0;
        background-color: $dark-background-color;
        color: $text-light-color;
        line-height: 1.3;
        text-align: center;
    }

    &__headline {
        display: inline-block;
        margin: 0 0.7rem 0 0;
        font-size: 2.2rem;

        .material-symbols-outlined {
            vertical-align: text-top;
        }
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.4;
    }

    a:link,
    a:visited {
        color: $primary-color;
    }

    a:hover,
    a:active {
        color: $white-color;
    }
}