/* ========= CALLOUT ========= */
.callout {
    padding: 0.72em 0;
    background-color: $dark-background-color;
    color: $text-light-color;
    /* border-bottom: 1px solid $primary-color; */
    border-bottom: 1px solid rgba(237, 209, 99, 0.63);
    line-height: 1.35;

    &__headline {
        display: inline-block;
        margin: 0 0.72rem 0 0;
        font-size: 2.16rem;

        .material-symbols-outlined {
            vertical-align: text-top;
        }
    }

    &__text {
        font-size: 1.44rem;
    }

    a:link,
    a:visited {
        color: $primary-color;
    }

    a:hover,
    a:active {
        color: $white-color;
    }
}