.consignment {
    &__card-group {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0;

        @mixin atMedium {
            flex-flow: row nowrap;
            margin-bottom: 5.4rem;
        }
    }

    &__card {
        padding: 2rem;
        background-color: $white-color;
        margin-bottom: 3.6rem;
        font-size: 1.72rem;
        text-align: center;
        border-radius: 4px;
        box-shadow: $box-shadow-featured;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;

        @mixin atMedium {
            margin-bottom: 0;
            width: 31%;
            padding: 2.7rem;
        }

        &:hover {
            transform: translateY(-.64rem) scale(1.04);
            box-shadow: $box-shadow-featured--hover;
        }
    }

    &__card-icon {
        .material-symbols-outlined--large {
            font-size: 6.3rem;
            color: $tertiary-color;

            @mixin atMedium {
                font-size: 8.1rem;
            }
        }
    }

    &__card-title {
        color: $tertiary-color;
        font-size: 2.3rem;
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;

        @mixin atMedium {
            flex-flow: row nowrap;
        }

        &-text {
            width: 100%;

            @mixin atMedium {
                width: 69%;
                margin-right: 4.5rem;
            }

        }

        &-text p {
            max-width: 72rem;

            @mixin atMedium {
                font-size: 1.8rem;
                line-height: 1.9;
            }
        }

        &-text blockquote {
            font-size: 1.6rem;
            box-shadow: $box-shadow-featured;

            @mixin atMedium {
                font-size: 2.2rem;
            }
        }

        &-text-title {
            font-size: 2.3rem;

            @mixin atMedium {
                font-size: 3.6rem;
            }
        }

        &-aside {
            display: none;

            @mixin atMedium {
                display: block;
                width: calc((100% - 69%) - 4.5rem);
            }
        }

        &-img {
            margin-bottom: 1.3rem;

            @mixin atMedium {
                box-shadow: $box-shadow-featured;
                margin-bottom: 2.7rem;
            }

            figcaption {
                font-size: 1.4rem;
                background-color: $white-color;
                padding: 0.9rem;
                margin: -0.7rem 0 0;
                text-align: center;
            }
        }
    }


}