/* ========= FOOTER ========= */
.footer {
    padding: 2rem 0 4rem;
    background-color: $black-color;
    background-image: url('./assets/images/footer-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    color: $text-light-color;
    border-top: 4px double $primary-color;

    @mixin atMedium {
        padding: 6.3rem 0;
    }

    a:link,
    a:visited {
        color: $primary-color;
    }

    a:hover,
    a:active {
        color: $white-color;
    }
}