/* ========= FOOTER ========= */
.footer {
    padding: 3.6em 0;
    background-color: $black-color;
    background-image: url('./assets/images/footer-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    color: $text-light-color;
    border-top: 4px double $primary-color;

    a:link,
    a:visited {
        color: $primary-color;
    }

    a:hover,
    a:active {
        color: $white-color;
    }
}