.header {
    padding: 7rem 0 0;
    background-color: $dark-maroon-color;
    background-image: url('./assets/images/header-bg.jpg');
    background-attachment: fixed;
    background-position: top;
    color: $text-light-color;
    text-align: center;
    border-bottom: 4px double $primary-color;
    backface-visibility: hidden;
    position: relative;

    @mixin atMedium {
        padding: 6.3rem 0 0;
        background-size: cover;
    }

    &__content {
        backface-visibility: hidden;
    }

    &__nav-menu-icon {
        position: absolute;
        top: 1.6rem;
        right: 2rem;
        width: 3.8rem;
        height: 3.3rem;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            transform-origin: 0 0;
            top: 0;
            left: 0;
            width: 3.8rem;
            height: 0.3rem;
            background-color: $primary-color;
            transition: transform 0.27s ease-out;
        }

        &--middle {
            position: absolute;
            top: 1.5rem;
            left: 0;
            width: 3.8rem;
            height: 0.3rem;
            background-color: $primary-color;
            transition: all 0.27s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: '';
            position: absolute;
            transform-origin: 0 100%;
            bottom: 0;
            left: 0;
            width: 3.8rem;
            height: 0.3rem;
            background-color: $primary-color;
            transition: transform 0.27s ease-out;
        }

        &--x {
            &::before {
                transform: rotate(45deg) scaleX(1.23) translateY(-1px);
            }

            .header__nav-menu-icon--middle {
                opacity: 0;
                transform: scaleX(0);
            }

            &::after {
                transform: rotate(-45deg) scaleX(1.23) translateY(2px);
            }
        }

        @mixin atMedium {
            display: none;
        }

        .material-symbols-outlined--large {
            font-size: 4.4rem;
            color: $primary-color;
        }
    }

    &__content-logo {
        max-width: 90rem;
        margin: 0 auto;

        animation-name: fadeInLeft;
        animation-duration: 0.54s;
        animation-timing-function: ease-out;

        a:link {
            display: block;
        }

        &--img {
            width: 100%;
        }
    }

    &__content-tagline {
        font-weight: 300;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        max-width: 100%;
        margin: 0 auto 3rem;

        animation-name: fadeInRight;
        animation-duration: 0.54s;
        animation-timing-function: ease-out;

        @mixin atMedium {
            font-size: 1.6rem;
            letter-spacing: 0.2rem;
            max-width: 72%;
            margin-bottom: 0;
        }

        @mixin atLarge {
            max-width: 100%;
        }
    }
}