/* ========= HEADER ========= */
.header {
    padding: 3.6em 0;
    background-color: $black-color;
    color: $text-light-color;
    text-align: center;

    &__content-logo {
        width: 100%;
        max-width: 72rem;
    }
}