/* ========= ICONS ========= */
/* https://developers.google.com/fonts/docs/material_symbols#use_in_web */

.material-symbols-outlined {
    font-size: 2.4rem;
    display: inline-block;

    &--small {
        font-size: 1.5rem;
        vertical-align: text-top;
    }

    &--large {
        font-size: 4.8rem;
    }
}