/* ========= SECTIONS ========= */
.section {
    padding: 3.6em 0;

    &:nth-child(2) {
        background-color: whitesmoke;
    }

    &__title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 0 0 1.17rem;
        margin: 0 0 3.6rem;
        border-bottom: 4px double $tertiary-color;
    }

    &__title-icon {
        margin-right: 1.17rem;
    }

    &__title-text {

        h2 {
            margin: 0 0 0.27rem;
        }

        p {
            margin: 0;
        }
    }
}

#showcase {
    background-image: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.99)),
        url('./assets/images/collage1-bw.jpg');
    background-attachment: fixed;
    background-size: cover;
    border-top: 2px solid rgba(39, 39, 39, .08);
    border-bottom: 2px solid rgba(39, 39, 39, .08);
}