/* ========= SECTIONS ========= */
.section {
    padding: 3.6em 0;

    &:nth-child(2) {
        background-color: whitesmoke;
    }
}

#showcase {
    background-image: linear-gradient(to right bottom, rgba(254, 254, 254, 1), rgba(254, 254, 254, .81)), url('./assets/images/background-main.jpg');
    background-attachment: fixed;
    background-size: cover;
}